body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    color: 'black';
    background: 'white';

    font-size: 17px;
    font-size: calc(14px + 1.2vmin);
    font-family: 'Dosis', sans-serif;
}

@media (min-width: 1250px) and (min-height: 1250px) {
    html {
        font-size: 29px;
    }
}

$high_color: hsl(123, 42%, 58%);
$high_color_trans: hsla(120, 100%, 30%, 0.6);

body {
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    min-width: 10em;
}

section {
    padding: 0.6em;
    padding: calc(0.6em + 1.5vmin);

    max-width: 100%;
    max-height: 85%;
}

h1,
p {
    display: block;
    max-width: 40em;

    margin: 0;
    padding: 0.2em;

    white-space: pre-wrap;
}
h1 {
    margin-bottom: 0.5em;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
        display: inline-block;
        padding: 0.2em;
    }
}
a {
    display: inline-block;

    color: black;
    font-weight: bold;

    margin: -0.2em -0.3em;
    padding: 0.3em 0.5em;
    text-decoration: none;

    &:hover,
    &:focus {
        color: white;
        text-decoration: underline;
        background: $high_color_trans;
    }

    &:focus {
        outline: 0.1em solid white;

        outline-offset: -0.2em;
    }
    &:active {
        color: black;
    }
}
