{{ $id := .ID }}
{{ $item := .Media }}
{{ $Resources := .Resources }}

{{ with .Media.images }}
    {{ $scratch := newScratch }}
    {{ with ($Resources.GetMatch (index . 0).image) }}
        {{ $scratch.Set "padding" (mul (div (float .Height) .Width) 100)}}
    {{ end }}

    <div class='media images{{if isset $item "slider"}} slider{{ end }}'>
        {{ range $index, $image := first 7 . }}
            <input type="radio" name="{{ $id }}" id="{{ $id }}_{{ $index }}" class="i_{{ $index }}" {{ if eq $index 0 }}checked{{ end }}>
        {{ end }}
        <div class="wrapper">
            <div class="images{{ if isset $item "fade"}} fade{{ end }} ">
                {{ range . }}
                    {{ with $Resources.GetMatch .image }}
                        {{ partial "image" (dict "Image" .) }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="info">
            {{ with $item.title }}
                <div class="description"><span>{{ . }}</span></div>
            {{ end }}
            <div class="selectors">
                {{ range $index, $image := first 7 . }}
                    <label for="{{ $id }}_{{ $index }}" class="i_{{ $index }}">
                        <span>
                        {{ $image.title }}
                        </span>
                    </label>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}