{{ $Resources := .Resources }}
{{ $scratch := newScratch }}
<section id="media">
    {{ range $index, $media := .Media }}
        {{ $ID := (print "media_" $index) }}

        {{ if isset $media "video" }}
            {{ $scratch.Set "video" "true" }}
            {{ partial "media/video" (dict "Resources" $Resources "Media" $media "ID" $ID)}}
        {{ end }}

        {{ if isset $media "image" }}
            {{ partial "media/image" (dict "Resources" $Resources "Media" $media "ID" $ID) }}
        {{ end }}

        {{ if isset $media "iframe" }}
            {{ partial "media/iframe" (dict "Resources" $Resources "Media" $media "ID" $ID) }}
        {{ end }}

        {{ if isset $media "images" }}
            {{ if isset $media "slider" }}
                {{ $scratch.Set "slider" "true" }}
            {{ end }}
            {{ partial "media/images" (dict "Resources" $Resources "Media" $media "ID" $ID) }}
        {{ end }}

        {{ if isset $media "text" }}
            <p>{{ $media.text | safeHTML }}</p>
        {{ end }}
    {{ end }}
</section>
{{ if eq ($scratch.Get "video") "true" }}
    {{ with resources.Get "js/media-video.js" }}
        <script src="{{ ( . | resources.Minify | resources.Fingerprint ).RelPermalink }}"></script>
    {{ end }}
{{ end }}
{{ if eq ($scratch.Get "slider") "true" }}
    {{ with resources.Get "js/media-slider.js" }}
        <script src="{{ ( . | resources.Minify | resources.Fingerprint ).RelPermalink }}"></script>
    {{ end }}
{{ end }}