body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 17px;
  font-size: calc(14px + 1.2vmin);
  font-family: 'Dosis', sans-serif;
  color: black;
  background: white;
}

@media (min-width: 1250px) and (min-height: 1250px) {
  html {
    font-size: 29px;
  }
}
::-moz-selection {
  color: white;
  background: #c1678d;
}
::selection {
  color: white;
  background: #c1678d;
}

h1,
p,
ul {
  display: block;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

h1 {
  margin-bottom: 0.5em;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
  list-style: none;
}

article li {
  margin: 0.1em;
  margin-right: 0.4em;
}
article li:last-child {
  margin-right: 0.1em;
}

article a,
header a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
article a:hover, article a:focus,
header a:hover,
header a:focus {
  text-decoration: underline;
  color: white;
  background: #67c16b;
}
article a:hover img, article a:focus img,
header a:hover img,
header a:focus img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
article a:focus,
header a:focus {
  outline: 0.1em solid #67c16b;
  outline-offset: 0.1em;
}
article a:active,
header a:active {
  outline-color: white;
  outline-width: 0.12em;
  outline-offset: -0.1em;
}
article a img,
header a img {
  display: inline-block;
  vertical-align: top;
  width: 1.2em;
  height: 1.2em;
}

article p a,
article span a,
article ul a {
  margin: -0.2em;
  padding: 0.2em;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}

#work-list {
  font-size: 0;
}
#work-list a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 25%;
  max-width: 400px;
  min-height: 3em;
  padding: 0;
  font-size: 20px;
  font-size: 0.8rem;
  text-decoration: none;
  background: gray;
}
#work-list a img {
  max-width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
#work-list a .title {
  position: absolute;
  bottom: -1px;
  right: -1.15em;
  min-width: 50%;
  padding: 0;
  padding-right: 1em;
  text-align: left;
  color: black;
  background: white;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
#work-list a span {
  display: inline-block;
  padding: 0.2em 0.5em;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}
#work-list a:hover img, #work-list a:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#work-list a:focus {
  z-index: 2;
  outline: 0.3em solid #67c16b;
}
#work-list a:active img {
  outline: 0.3em solid #67c16b;
  outline-offset: -0.3em;
}

@media (max-width: 1200px) {
  #work-list a {
    width: 33.3%;
  }
}
@media (max-width: 800px) {
  #work-list a {
    width: 50%;
  }
}
@media (max-width: 400px) {
  #work-list a {
    width: 100%;
  }
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

section,
article {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      align-self: center;
}

#bio_wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: start;
      align-self: start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  max-width: 30em;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100%;
  max-height: 100vh;
  margin-left: 1em;
}

@media (orientation: landscape) and (min-width: 800px) and (min-height: 28em) {
  #bio_wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
#bio {
  display: inline-block;
  max-width: 35em;
  max-width: 37vw;
  min-width: 14em;
  max-height: 100%;
  padding: 1em 0;
}
#bio h1 {
  font-size: 2em;
}
#bio #email,
#bio #link-text {
  display: block;
}
#bio #links {
  display: inline-block;
  margin: 0 -0.3em;
  padding: 0.1em;
  padding-bottom: 0.4em;
  border-bottom: 0.1em solid #67c16b;
}

#portfolio {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1600px;
  margin: 1em;
  padding: 0;
}
#portfolio h2 {
  margin: 0;
  margin-bottom: 0.4em;
}

@media (min-width: 3200px) {
  #portfolio {
    max-width: 1920px;
  }
}
@media (min-aspect-ratio: 100 / 34) and (orientation: landscape) and (max-height: 1080px) {
  #portfolio {
    max-width: 177.7777777778vh;
    max-width: calc( 177.7777777778vh - 1em );
  }
}
@media (orientation: portrait), (max-width: 800px) {
  main {
    display: block;
    text-align: center;
    min-height: auto;
  }
  main section,
  main article {
    margin: 0 auto;
  }

  #bio_wrapper {
    margin: 0 auto;
  }

  #bio {
    max-width: 100%;
    min-width: auto;
    padding: 0.8em;
    padding-bottom: 0;
  }
  #bio h1,
  #bio p,
  #bio span,
  #bio ul {
    margin-left: auto;
    margin-right: auto;
  }
  #bio #link-text,
  #bio #links {
    margin: 0 auto;
  }

  #portfolio {
    max-width: 1920px;
    padding: 0;
  }
  #portfolio h2 {
    margin: 0.5em;
  }
}
@media (orientation: landscape) and (max-width: 1900px) {
  #work-list a {
    width: 33.3%;
  }
}
@media (orientation: landscape) and (max-width: 1200px) {
  #work-list a {
    width: 50%;
  }
}
@media (max-width: 600px) {
  #bio_wrapper,
  #portfolio {
    margin: 0 auto;
  }
}
