<div id="work-list">
    {{ $currentPage := . }}
    {{ range where .Site.Pages.ByDate.Reverse "Section" "work" }}
        {{ if or (ne .Params.showHome false) (ne $currentPage.RelPermalink "/") }}
            {{ if (ne .Params.show false ) }}
                {{ if and (ne .RelPermalink "/work/") (ne .RelPermalink $currentPage.RelPermalink)  }}
                    <a href="{{ .RelPermalink }}">
                        {{ if isset .Params "thumbnail" }}
                            {{ partial "image-thumb" (dict "Image" (.Resources.GetMatch .Params.thumbnail ) ) }}
                        {{ else if isset .Params "image" }}
                            {{ partial "image-thumb" (dict "Image" (.Resources.GetMatch .Params.image ) ) }}
                        {{ end }}
                        <div class="title"><span>{{ .Title }}</span></div>
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>