<!DOCTYPE html>
<html>
    <head>
        {{ partial "page/head" . }}
        
        {{ partial "stylesheet" "homepage" }}
    </head>
    <body>
        {{ partial "page/background" . }}
        <main>
            <div id="bio_wrapper">
                <article id="bio">
                    <h1>{{ .Site.Data.Profile.name }}</h1>
                    {{ .Content }}
                    <span id="email">My email is <a href="mailto://{{ .Site.Data.Profile.email }}" target="_blank" rel="noopener">{{ .Site.Data.Profile.email }}</a>.</span>
                    {{ with .Site.Data.Profile.links }}
                        <span id="link-text">And you can find me on:</span>
                        <ul id="links">
                        {{ range . }}
                            <li>
                                {{ partial "social-icon" . }}
                            </li>
                        {{ end }}
                        </ul>
                    {{ end }}
                </article>
            </div>
            <div id="portfolio">
                <h2>Work</h2>
                {{ partial "work-list" . }}
            </div>
        </main>
    </body>
</html>